
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.about{ 
    background-color: #F1FBFF;
    height: 100%;
}
.navbar-nav{
    margin-right: 150px;
}
.navbar{
    height: 55px;
}
.b1{margin-bottom:200px;

}
.s3{
    margin-top: 170px;
}

.teamcol{
    margin-top: 100px;
}

.contactcol{
    margin-top: 200px;
    margin-bottom: 200px;

}